<div class="container">
  <h1>{{ title }}</h1>
  <div>
    <div>
      <ul>
        <li *ngFor="let item of tasks">
          <input type="checkbox" [(ngModel)]="item.done" (click)="markDone(item.id, !item.done)">
          <span [ngClass]="{ 'line-through': item.done }" *ngIf="!editingTask || item.id !== editingTask.id">{{ item.name }}</span>
          <input type="text" [(ngModel)]="item.name" *ngIf="editingTaskId === item.id">
          <button (click)="removeTask(item.id)">Delete</button>
          <button (click)="editTask(item.id)" *ngIf="editingTaskId !== item.id">Edit</button>
          <button (click)="updateTask(item)" *ngIf="editingTaskId === item.id">Save</button>
        
        </li>
      </ul>
    </div>
    <div >
      <form (submit)="addTask()">
        <div>
          <input type="text" [(ngModel)]="newTask" name="newTask" placeholder="Add a new task...">
        </div>
        <button type="submit" [disabled]="isSubmitting">Add Task</button>

      </form>
    </div>
  </div>
</div>
